/* Custom styles for the footer */
.footer {
    background-color: #24262b;
    padding: 70px 0;
  }
  
  .footer .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .footer .container .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer .container .row .footer-col {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  
  .footer .container .row .footer-col h4 {
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer .container .row .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer .container .row .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .container .row .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer .container .row .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s;
  }
  
  .footer .container .row .footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
  }
  
  .footer .container .row .footer-col .social-links {
    display: flex;
  }
  
  .footer .container .row .footer-col .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    text-decoration: none;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
  }
  
  .footer .container .row .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
  }
  
  
  
  