
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{

 box-shadow: 0px 0px 0px 7px rgb(255, 255, 255/40%);
 --green:#eb4d4b;
    --black:#192a56; 
}

form .centered{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}



form{
  width: 80vw;
  background:#fff;
  border: 2px solid rgba(0,0,0,.7);
  box-shadow: 0 25px 45px rgba(0,0,0,.1);
  backdrop-filter: blur(50px);
  margin: 2rem auto;
  border-radius: 10px;
  padding: 2rem;
  flex-wrap: wrap;
  display: flex;
  z-index: 2;
  
}

form h1{
font-size: 2rem;
margin: 1rem 0;
text-align: center;
width: 100%;
text-transform: uppercase;
}

.input-field{
width: 50%;
}
.textarea{
  width: 100%;
}
label{
  width: 100%;
  margin: .5rem 0;
  text-transform: uppercase;
  font-size: 14px;
}
input,
button,
textarea{
  width: 99%;
  background: rgb(255, 255, 255,0.5);
  border: 2px solid rgba(0,0,0,.7);
  box-shadow: 0 25px 45px rgba(0,0,0,.1);
  backdrop-filter: blur(50px);
  padding: .5rem 1rem;
  border-radius: 5px;
  margin: .5rem;
}
textarea{
  height: 200px;
  width: 99%;

}
.message{
display: block;
background: var(--bg-color);
padding: 1.5rem 1rem;
font-size: 2rem;
color: var(--black);
margin-bottom: 2rem;

}
.btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background:#192a56;
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}

.btn:hover{
  background: var(--green);
  letter-spacing: .1rem;
}
.show-products{
  width: 90vw;
  margin: 5rem auto;
  padding: 1rem;
  width: 99%;
  background: rgb(255, 255, 255,0.5);
  border: 2px solid rgba(0,0,0,.7);
  box-shadow: 0 25px 45px rgba(0,0,0,.1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
}
.box-container{
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
}
.box{
  position: relative;
  padding: 1rem;
  margin: 10px;
  overflow: hidden;
  background: #fff;
  border: 10px solid #fcc92744;
  box-shadow: 0 25px 45px rgba(0,0,0,.1);
  border-radius: 10px;
  transition: all .2s linear;
}
.box img{
  margin-top: 1rem;
  text-align: center;
  width: 200px;
  height: 250px;

}
.box img:hover{
  transform: scale(0.8);
}
a{
  text-decoration: none;
}
.heading{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

}
.heading h2{
  text-transform: uppercase;
  font-size: 14px;
}
.heading span{
  color: #192a56;
}
.add{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2%;
  right: 2%;
  text-align: center;
  z-index: 1;
  background: #fff;

}


.btn{
  line-height: 1;
  background: #192a56;
  border: 10px solid #fcc92744;
  padding: 5px 35px;
  display: inline-block;
  border-radius: 3px;
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  z-index: 1;
  text-align: center;
}
.btn::before,
.add::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eb4d4b;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: width .3s ease;
}
.add::before{
  border-radius: 50%;
  
}
.btn:hover::before,
.add:hover::before{
  width: 100%;
}
.show-products .add{
  background: #192a56;
  color: #fff;
}
/* viwe */
.products-details{
  margin-top: 6rem;
}
.popup-card-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 70vh;
  padding: 4%;
  background: rgb(255, 255, 255,0.5);
  border: 2px solid rgba(0,0,0,.7);
  box-shadow: 0 25px 45px rgba(0,0,0,.1);
  backdrop-filter: blur(50px);
  margin: 0 auto;
  border-radius: 10px;
  
}
.popup-img{
  width: 50vw;

}
.popup-img figure{
  width: 500px;
  margin-top: -6rem;
  text-align: center;

}  

.popup-img figure img{
  width: 50%;
  height: 80%;
  background: #fff;
  border-radius: 5px;
  padding: .5rem;

}

.popup-img .thumb-list ul{
  display: flex;
  list-style: none;
}
li{
  margin: .4rem;
  cursor: pointer;
}
.popup-img .thumb-list ul li img{
  width: 100px;
  height: 100px;
  margin: .5rem 0;

}  */
.popup-card-detail .info{
  margin-left: 3rem;

}
.popup-card-detail .info span{
  color: #353435;
  font-size: 15px;

}
.popup-card-detail .info h2{
  color: #192a56;
  margin: 1rem 0;

}
.popup-card-detail .info p{
  line-height: 2;
  color: #555;
  font-size: 18px;

}
/*display product table*/
.product-display{
  margin: 2rem 0;
}
.product-display .product-display-table{
  text-align: right;
  width: 100%;
}
.product-display .product-display-table thead{
  padding: 2.5rem;

  background-color: #555;
}
.product-display .product-display-table th{
  padding: 1rem;
  font-size: 1.5rem;
}

.product-display .product-display-table td{
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: var(--border);
}




/*.product-display .product-display-table .btn:first-child{
  margin-top: 0;
}
.product-display .product-display-table .btn:last-child{
 background: crimson;
}
.product-display .product-display-table .btn:last-child:hover{
  background:var(--black);
 }
 */
 form .centered{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

 }

 .cart-form{
  all:unset;
  display: flex;
  flex-direction: column;
 }

 form .quantity-input{
  width: 100px;

 }

 form .btn{
  width: fit-content;
  background: #eb4d4b;
  text-transform: capitalize;
  text-shadow: #fff;
 }