*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'poppins',sans-serif;


}

.text-box{
color: #fff;
position:absolute;
bottom: 8px;

}
.logo{
    position: absolute;
   width: 15px;
   top: 8px;
   right: 25px;

}

.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(pic/back.png);
  -webkit-background-clip: text;
    background-position:0 0;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

