.wrapper{
    position:relative;
    top: 50%;
    left: 50%;
   bottom: -70px;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0,0,0,5);
    display: flex;
    justify-content: center;
    align-items: center;
        overflow: hidden;
       /* transform: scale(0);*/
transition:height .2s ease;
transform: translateX(-50%);
}
.wrapper.active{
    height: 550px;

}


.wrapper .form-box{
    width: 100%;
    padding: 40px;
   
}
.wrapper .form-box.login{
    
   transition: transform .18s ease;
   transform: translateX(0);
   

}
.wrapper.active .form-box.login {
    transition: none;
    transform:translateX(-400px)


}
.wrapper .form-box.register{
    position:absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register {
   transition: transform .18s ease;
    transform: translateX(0);
    
  
 }

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 2.5em;
    color: black;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 40px ;
    border-bottom: 1px solid #fff;
    margin: 30px 0;
}


.input-box label{
    position: absolute;
    top: 20%;
    left: 10px;
    transform: translateY(-70%);
    font-size: 1em;
    color: #fdfdfd;
    font-weight: 500;
    pointer-events: none;
    transition:all 0.5s;
}
.input-box input:focus + label,
.input-box input:valid + label {
    top: -5px;
}




.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
    
    

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}
 .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;

 }   
 .login-register{
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
 }
 .login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

 }
 .login-register p a:hover{
    text-decoration: underline;

 }
 
 .register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

 }
 .register{
    font-size: 1em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    box-sizing: border-box;
 }
 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border:none;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  select:focus {
    outline: none;
    border-color: #555;
  }
  
  select option {
    padding: 4px;
  }
  
 
 /* database */

 .wrapper .form-box .error-msg{
    margin: 10px 0;
    display: block;
    background:red;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
 }
 